.grid_cell{
	border: 1px solid #D5D8D5;
	height:50px;

}

.grid_cell_selected{
	border: 2px dotted #296092;
}

.PageWrapper {
	padding: 0px 50px;
}
.screenBtn{
	/*width:100%;*/
}
.savenBtn{
	margin-right: 10px;
}